[{:name "Roam Parser"
  :description "A parser for Roam-inspired markup written in ClojureScript, with a Reagent demo, and an evaluator example using MathJS."
  :demo-url "https://roam-parser.robertm.io"
  :img "https://robertm-project-images.s3.amazonaws.com/roam-parse-tree.png"
  :technologies {:Languages [:ClojureScript]
                 :Frameworks [:Reagent]
                 :Misc [:Git :AWS]}}
 {:name "7 GUIs"
  :description "Seven GUIs ranging from a flight booker to a functioning spreadsheet. Written in ClojureScript using only Reagent. Deployed on AWS S3 with CloudFront."
  :demo-url "https://7gui-cells.robertm.io"
  :img "https://robertm-project-images.s3.amazonaws.com/7guis_cells.png"
  :technologies {:Languages [:ClojureScript]
                 :Frameworks [:Reagent]
                 :Misc [:Git :AWS]}}
 {:name "Cellular Automata Simulations"
  :description "Conway's Game of Life, and Day & Night, with configurable live examples. Written in ClojureScript, using Quil for graphics, and Re-Frame, Reagent, & ReactJS for the UI. Deployed on AWS S3 with CloudFront."
  :demo-url "https://cellular-automata.robertm.io"
  :img "https://robertm-project-images.s3.amazonaws.com/gosper-gun.png"
  :technologies {:Languages [:ClojureScript]
                 :Frameworks [:Re-Frame :Reagent :ReactJS :Bootstrap]
                 :Misc [:Git :AWS]}}
 {:name "Personal Showcase"
  :description "Select apps & services I've written, with links to live demos or source code, and a collection of short blog articles. Written in Clojure, using Bootstrap for styling, Ring & Compojure for the webserver, and EDN for project & blog entries. Deployed on Heroku."
  :demo-url "https://robertm.io"
  :img "https://robertm-project-images.s3.amazonaws.com/blog-routes.png"
  :technologies {:Languages [:Clojure]
                 :Frameworks [:Bootstrap]
                 :Misc [:Git :Heroku]}}]
