{:AWS {:url "https://robertm-project-images.s3.amazonaws.com/aws.png"
       :needs-label false}
 :Bootstrap {:url "https://robertm-project-images.s3.amazonaws.com/bootstrap.png"
             :needs-lable true}
 :Clojure {:url "https://robertm-project-images.s3.amazonaws.com/clojure.png"
           :needs-label true}
 :ClojureScript {:url "https://robertm-project-images.s3.amazonaws.com/clojurescript.png"
                 :needs-label true}
 :Git {:url "https://robertm-project-images.s3.amazonaws.com/git.png"
       :needs-label false}
 :Heroku {:url "https://robertm-project-images.s3.amazonaws.com/heroku.png"
          :needs-label false}
 :ReactJS {:url "https://robertm-project-images.s3.amazonaws.com/react.svg"
           :needs-label true}
 :Reagent {:url "https://robertm-project-images.s3.amazonaws.com/reagent.png"
           :needs-label false}
 :Re-Frame {:url "https://robertm-project-images.s3.amazonaws.com/re-frame.png"
            :needs-label false}}
