{:AWS "https://robertm-project-images.s3.amazonaws.com/aws.png"
 :Bootstrap "https://robertm-project-images.s3.amazonaws.com/bootstrap.png"
 :Clojure "https://robertm-project-images.s3.amazonaws.com/clojure.png"
 :ClojureScript "https://robertm-project-images.s3.amazonaws.com/clojurescript.png"
 :Git "https://robertm-project-images.s3.amazonaws.com/git.png"
 :Heroku "https://robertm-project-images.s3.amazonaws.com/heroku.png"
 :ReactJS "https://robertm-project-images.s3.amazonaws.com/react.svg"
 :Reagent "https://robertm-project-images.s3.amazonaws.com/reagent.png"
 :Re-Frame "https://robertm-project-images.s3.amazonaws.com/re-frame.png"}
